/_build
/cover
/deps
/*.ez

/.elixir_ls
/.fetch
/.hex
/cover

.DS_Store
*.swp
*~
.project
.idea
.vscode
*.sublime-project
*.sublime-workspace
*.tmproj
*.code-workspace
*.iml

/debug.log*
*.pid
*.seed
*.pid.lock

**/docker-compose.override.yml
**/docker-compose.debug.yml
.docker

.env

/logs/
